In [67]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
#from sklearn.pipeline import pipeline

In [68]:
train_data = pd.read_csv('datasets_13720_18513_insurance.csv', delimiter=',', skiprows = 0)

In [69]:
df = train_data.copy()
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [70]:
class MultiColumnLabelEncoder:
    def __init__(self, columns = None):
        self.columns = columns
    
    def fit(self,x,y=None):
        return self
    
    def transform(self,x):
        output = x.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname, col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output
    
    def fit_transform(self, x, y=None):
        return self.fit(x,y).transform(x)

In [71]:
df = MultiColumnLabelEncoder(columns = ['sex', 'smoker', 'region']).fit_transform(df)
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [72]:
x = df.drop(['charges'], axis=1)
x

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [73]:
y = df['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [74]:
x_train , x_test , y_train , y_test = train_test_split(x,y)

In [75]:
#le = LabelEncoder()
#le.fit(x_train['sex'].astype(float))
#x_train['sex'] = le.transform(x_train['sex'].astype(float))
#x_test['sex'] = le.transform(x_test['sex'].astype(float))

#le.fit(x_train['smoker'].astype(float))
#x_train['smoker'] = le.transform(x_train['smoker'].astype(float))
#x_test['smoker'] = le.transform(x_test['smoker'].astype(float))

#le.fit(x_train['region'].astype(float))
#x_train['region'] = le.transform(x_train['region'].astype(float))
#x_test['region'] = le.transform(x_test['region'].astype(float))

In [76]:
model = LinearRegression()
result = model.fit(x_train, y_train)

In [77]:
print(x_test)

      age  sex     bmi  children  smoker  region
559    19    1  35.530         0       0       1
1043   28    0  25.800         0       0       3
970    50    0  28.160         3       0       2
82     22    1  37.620         1       1       2
729    41    0  36.080         1       0       2
...   ...  ...     ...       ...     ...     ...
596    42    0  29.480         2       0       2
537    46    0  30.200         2       0       3
146    46    1  30.495         3       1       1
1193   48    0  36.575         0       0       1
934    32    1  37.180         2       0       2

[335 rows x 6 columns]

In [78]:
print(result)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
print(model.intercept_)

-12617.163741418364

In [80]:
print(model.coef_)

[  261.5096922    191.28695682   356.15386503   517.15780955
 23573.21174558  -415.59410476]

In [81]:
y_pred = model.predict(x_test)
print(len(y_pred))

335

In [82]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [83]:
y_pred[:5]

array([ 4781.36008681,  2647.09504356, 11207.89892681, 29985.02619169,
       10640.73468892])